//====================================================================================================
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: toRem(20) 0;
    width: 100%;
    margin-top: toRem(20);

    background-color: rgba(66, 129, 61, 0.95);
}
//====================================================================================================
