.header {
    
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
    transition:
		background-color 0.5s,
		transform 0.5s;
	@media (min-width: $pc) {
		// padding-bottom: toRem(10);
	}
	@media (max-width: $pc) and (min-width: $mobile) {
		// padding-bottom: toRem(5);
	}
	&._header-scroll {
		background-color: rgb(14, 48, 85, 0.8);
		// @media (min-width: $pc) {
		// 	transform: translate(0px, toRem(-60));
		// }
		// @media (max-width: $pc) and (min-width: $mobile) {
		// 	transform: translate(0px, toRem(-50));
		// }
	}
    // background-color: rgba(66, 129, 61, 0.95);
    // background-color: rgb(14, 48, 85, 0.8);
    // background: linear-gradient(45deg, rgba(29, 29, 29, 0.45) 0%, rgba(29, 29, 29, 0.22) 100%);
    // @media (max-width: 500px) {
    //     // background-color: transparent;
    // }
    &__container {
        display: grid;
            grid-template-columns: auto 1fr;
    }
&__logo {
    
		display: flex;
        justify-content: center;
		align-items: center;
		position: relative;
		z-index: 120;
        
        @media (max-width: $mobile) {
            padding: 5px 0;
        }
		img {
            @include adaptiveValue("width",70,40);
            @include adaptiveValue("height", 70,40 );
            // width: toRem(90);
            // height: toRem(90);
            @media (max-width: $mobile) {
            //     width: toRem(60);
            // height: toRem(60);
            // display: none;
            }
            
		}
		
}
    &__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        @media (max-width: $mobile) {
            padding: toRem(15) 0;
        }
    }
}


// ================ about about about ==========================

.about {
    padding: toRem(35) 0;
    &__container {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: toRem(40);
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
            gap: toRem(15);
        }
    }
    &__contact {
        @include adaptiveValue("font-size", 20,14 );
        line-height: 1.4;
        font-weight: 300;
        padding-right: toRem(40);
        border-right: 2px solid rgb(180, 176, 176);
        @media (max-width: $mobile) {
            border-right: none;
            border-bottom: 2px solid rgb(180, 176, 176);
            padding-right: 0;
            padding-bottom: toRem(15);
        }
    }
    &__content {
        @include adaptiveValue("font-size", 20,14 );
        line-height: 1.4;
        font-weight: 300;
    }
}


// =================== ГАЛЕРЕЇ =================

.photo-gallery {
    // padding: toRem(30) 0;
    padding-top: 10px;

    @include adaptiveValue("padding-top",150 , 80);
    @include adaptiveValue("padding-bottom",50 , 15);
    .galleries-container {
        padding-top: toRem(40);
        position: relative;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: toRem(30);
        @media (max-width: $mobile) {
            grid-template-columns:  1fr;
        }
        .galleries {
            display: flex;
            flex-direction: column;
            gap: toRem(10);
            &__title {
                font-size: toRem(30);
                @include adaptiveValue("font-size",30 ,18 );
        font-weight: 600;
        color: rgba(99, 99, 99, 0.863);
        text-transform: uppercase;
        text-shadow: toRem(1) toRem(1) toRem(2) rgba(0, 0, 0, 0.2);
        text-align: center;
        padding-bottom: toRem(10);
            }
    
            &__block {
                // display: flex;
                // flex-wrap: wrap;
                
                // gap: toRem(3);
                // position: relative;
                max-height: 200px;
                
    
                .animated-thumbnails-gallery {
                    // display: flex;
                    // flex-wrap: wrap;
                    display: grid;
                    grid-template-columns: repeat(auto-fill, minmax(min(220px, 100%), 1fr));
                    gap: toRem(5);
                    

                    img {
                        width: 100%;
                        aspect-ratio: 16 / 9;
                        object-fit: cover;
                        border-radius: toRem(5);
                    }
                }
            }
        }
    }
}

// =================== ГАЛЕРЕЇ =================