//====================================================================================================
.hero-section {
    
    position: relative;
    
    @include adaptiveValue("padding-top",110 ,60 );

    &__container {
        border-radius: toRem(15);
    }
    &__body {
// padding-top: toRem(150);
    // padding-bottom: toRem(30);
    // display: flex;
    // justify-content: center;
    // align-items: center;
    // width: 100%;
    // height: 100vh;
    
    display: flex;
    justify-content: center;
    width: 100%;
  aspect-ratio: 16 / 9;
  position: relative; 
    background: url(../img/mBg.jpg) top / cover no-repeat;
    z-index: 20;
    
    // @media (max-width: 768px) {
    //     height: 50vh;
        
    // }
    // @media (max-width: 540px) {
    //     height: 35vh;
    // }
    &::after {
        content: "";
        background: linear-gradient(45deg, rgba(29, 29, 29, 0.45) 0%, rgba(29, 29, 29, 0.22) 100%);
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
   
    }
    #hero {
        display: flex;
        justify-content: center;
        align-items: center;
    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: relative;
        z-index: 100;
        h1 {
            @include adaptiveValue("font-size", 84,28 );
            font-family: $fontSecond;
            text-transform: uppercase;
            font-weight: 700;
            // color: #2443B8;
            color: #fff;
            text-align: center;
            line-height: 1.1;
            text-shadow: toRem(1) toRem(1) toRem(2) rgba(0, 0, 0, 0.5);
        }
        h2 {
            // color: #41813d;
            color: #fff;
            font-weight: 700;
            line-height: 1.3;
            text-align: center;
            @include adaptiveValue("font-size", 40,14 );
            text-shadow: toRem(1) toRem(1) toRem(2) rgba(0, 0, 0, 0.5);
        }

    }
}
    
}

.person-section {
    position: relative;
    // background: url(../img/bg.jpg) center / cover no-repeat;
    padding: toRem(15) 0;
    &__container {
        #person {
            display: grid;
            // grid-template-columns: repeat(4, 1fr);
            grid-template-columns: repeat(auto-fill, minmax(min(350px, 100%), 1fr));
            column-gap: toRem(20);
            row-gap: toRem(10);
            overflow: hidden;
            @include adaptiveValue("padding-top",30 ,5 );
            @include adaptiveValue("padding-bottom", 30,5 );
            @media (max-width: 1283px) {
                grid-template-columns: repeat(auto-fill, minmax(min(240px, 100%), 1fr));
                gap: toRem(10);
            }
            @media (max-width: 862px) {
                grid-template-columns: repeat(auto-fill, minmax(min(190px, 100%), 1fr));
                gap: toRem(10);
            }
            @media (max-width: $mobile) {
                grid-template-columns: repeat(auto-fill, minmax(min(140px, 100%), 1fr));
                gap: toRem(10);
            }
          .person-content {
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            // background-color: #fff;
            
            .person-details {
                // display: flex;
                // flex-direction: column;
                display: grid;
                grid-template-rows: toRem(30) auto;
                justify-items: center;
                align-content: space-around;
                height: 100%;
                gap: toRem(5);
                padding-top: 5px;
                @media (max-width: 590px) {
                    grid-template-rows: auto auto;
                }
            
            h5 {
                font-size: toRem(16);
                @include adaptiveValue("font-size", 16,11 );
                text-align: center;
                text-transform: uppercase;
                font-family: $fontSecond;
                color: rgba(99, 99, 99, 0.863);
                text-shadow: toRem(2) toRem(2) toRem(6) rgba(0, 0, 0, 0.3);
                font-weight: 700;
                // padding: toRem(10);
                display: flex;
                height: 100%;
            }
            p {
                font-size: toRem(16);
                @include adaptiveValue("font-size", 16,12 );
                    text-align: center;
                font-weight: 300;
                // font-style: italic;
                text-shadow: toRem(2) toRem(2) toRem(4) rgba(0, 0, 0, 0.5);
                line-height: 1.2;
                display: flex;
                height: 100%;
            }
            }
            .person-header {
            display: grid;
            grid-template-rows: toRem(55) auto;
            justify-items: center;
            height: 100%;
                
                img {
                        
                width: 100%;
                aspect-ratio: 200 / 260;
                object-fit: cover;
                // border-radius: 20px 20px 0 0 / 25px 25px 0 0;
                border-radius: toRem(15);
                        
                    }
                    h4 {
                        // color: #41813d;
                        // color: #41813d;
                        color: rgba(99, 99, 99, 0.863);
                        text-transform: uppercase;
                        font-size: toRem(18);
                        @include adaptiveValue("font-size",20 ,12 );
                        text-align: center;
                        font-weight: 700;
                        font-family: $fontSecond;
                        padding: 0 2px 5px 2px;
                        font-family: $fontSecond;
                        text-transform: uppercase;
                        text-shadow: toRem(1) toRem(1) toRem(2) rgba(0, 0, 0, 0.2);
                        min-height: 50px;
                        display: flex;
                            align-items: flex-end;
                            justify-content: center;
                        
                    }
               }     
                   
                }  
        }
    }
}


.posts-section {
    @include adaptiveValue("padding-top",40 ,5 );
    &__container {
        position: relative;
        overflow: hidden;
        .sanity-content {
            padding-bottom: toRem(20);
            @include adaptiveValue("padding-top", 20,3 );
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
            // display: flex;
            // flex-wrap: wrap;
            gap: toRem(15);
            
           .post {
            display: grid;
	        gap: 10px;
            overflow: hidden;
           
            position: relative;
            &:after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: toRem(20);
                    background: linear-gradient(
                        135deg, 
                        rgba(0, 0, 0, 0.3) 0%, 
                        rgba(0, 0, 0, 0.2) 50%, 
                        rgba(255, 255, 255, 0.05) 100%
                    );
                    box-shadow: inset 0 toRem(4) toRem(10) rgba(0, 0, 0, 0.2); 
                }
            

     img {
        width: 100%;
        aspect-ratio: 300 / 200;
        object-fit: cover;
        border-radius: toRem(20);
        }
        .post-title {
            position: absolute;
            top: toRem(15);
            left: toRem(15);
                width: 95%;
                height: 100%;
                color: #fff;
                font-weight: 400;
                line-height: 1.4;
                font-size: toRem(16);
                padding: toRem(5) toRem(10);
                z-index: 15;
                text-shadow: toRem(2) toRem(2) toRem(4) rgba(0, 0, 0, 0.6);
        }
        .post-date  {
            position: absolute;
            bottom: toRem(15); /* Відступ від нижнього краю */
            right: toRem(15); /* Відступ від правого краю */
            color: #fff;
            
            padding: toRem(5) toRem(10); /* Відступи всередині */
            font-weight: 300;
            font-size: toRem(14); 
            font-style: italic;
            text-shadow: toRem(2) toRem(2) toRem(4) rgba(0, 0, 0, 0.6);
        }
        .post-deskr {
            display: none;
        }
    }
           
   
           }
    }
}


// .hero {
//     padding-top: toRem(60);
//     display: grid;
//     grid-template-columns: 35% 1fr;
//     gap: toRem(15);


// @media (max-width: $mobile) {
//     grid-template-columns: 1fr;
// }
//     #hero {
//         display: flex;
//         justify-content: center;
//     .hero-content {
//         display: flex;
//         flex-direction: column;
//         justify-content: center;

//         h1 {
//             @include adaptiveValue("font-size", 64,28 );
//             font-family: $fontSecond;
//             text-transform: uppercase;
//             font-weight: 700;
//             color: #2443B8;
//             text-align: center;
//             line-height: 1.1;
//             text-shadow: toRem(1) toRem(1) toRem(2) rgba(0, 0, 0, 0.5);
//         }
//         h2 {
//             color: #41813d;
//             font-weight: 700;
//             line-height: 1.3;
//             text-align: center;
//             @include adaptiveValue("font-size", 30,18 );
//             text-shadow: toRem(1) toRem(1) toRem(2) rgba(0, 0, 0, 0.5);
//         }

//     }
// }
// #heroMedia {
//     display: flex;
//     overflow: hidden;
// }


// }

.section-title {
    padding: toRem(10) 0;
    @include adaptiveValue("font-size", 44,28 );
    font-weight: 700;
    text-align: center;
    color: rgb(14, 48, 85, 0.8);
    text-shadow: toRem(1) toRem(1) toRem(2) rgba(0, 0, 0, 0.2);
    span {
color: #41813d;
    }
}



.hero__single {
display: flex;
justify-content: center;
padding-top: toRem(60);
    gap: toRem(15);
    h1 {
        @include adaptiveValue("font-size", 64,28 );
        font-family: $fontSecond;
        text-transform: uppercase;
        font-weight: 700;
        color: #2443B8;
        text-align: center;
        line-height: 1.1;
        text-shadow: toRem(1) toRem(1) toRem(2) rgba(0, 0, 0, 0.5);
    }
    h2 {
        color: #41813d;
        font-weight: 700;
        line-height: 1.3;
        text-align: center;
        @include adaptiveValue("font-size", 30,18 );
        text-shadow: toRem(1) toRem(1) toRem(2) rgba(0, 0, 0, 0.5);
    }
}
        
    

//========= NEWS ===========================================================================================


.news {
    // padding-top: toRem(120);
    @include adaptiveValue("padding-top",140 ,60);
    display: grid;
    grid-template-columns: 1fr 30%;
    gap: toRem(15);
    @media (max-width: $mobile) {
        grid-template-columns: 1fr;
    }
    .news-list {
        display: flex;
        justify-content: center;
        position: relative;
        overflow: hidden;
        ul {
            display: flex;
            flex-direction: column;
            row-gap: toRem(10);
            height: fit-content;
            position: fixed;
            width: 22%;
            top: 30%;
            left: 68%;
            padding: 10px;
            // border: 2px solid rgba(173, 163, 163, 0.856);
            @media (max-width: $mobile) {
                position: relative;
                top: 0;
                left: 0;
                width: 100%;
            }
            li {
              font-size: toRem(15);
            line-height: 1.3; 
            font-weight: 400; 
            padding: 5px;
            border-radius: 8px;
            transition:
            background-color 0.5s,
            transform 0.5s;
            &:hover {
                transform: translate(0px, toRem(-6));
                background: linear-gradient(
                        135deg, 
                        rgba(0, 0, 0, 0.3) 0%, 
                        rgba(0, 0, 0, 0.2) 50%, 
                        rgba(255, 255, 255, 0.05) 100%
                    );
            }
            span {
                font-size: toRem(12);
                font-style: italic;
                font-weight: 400;
                color: #6d6d6d;
                cursor: pointer;
            }
            }
            
        }
    }
}
.single {
    
    
    display: flex;
    flex-direction: column;
    row-gap: toRem(15);
    overflow: hidden;
    border-right: 1px solid rgba(173, 163, 163, 0.856);
    padding-right: toRem(20);
    @media (max-width: $mobile) {
        border-right: none;
        padding-right: 0;
    }
    .post-content-s {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    h1 {
        font-size: toRem(30);
        font-weight: 600;
    }
    div {
        font-weight: 400;
        font-style: italic;
        padding-bottom: toRem(20);
        border-bottom: 1px solid rgba(173, 163, 163, 0.856);
    }
    p {
        font-weight: 300;
        font-style: normal;
        line-height: 1.3;
        font-size: 18px;
    }
    img {
        padding-top: toRem(10);
        padding-bottom: toRem(10);
        text-align: center;
        width: 90%;
        aspect-ratio: 720 / 482;
        object-fit: cover;
        margin: 0 auto;
    }

    
}

#animated-thumbnails-gallery {
    padding: toRem(30) 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr)); /* Адаптивна сітка */
    grid-gap: 5px; /* Відстань між елементами */
    
  }
  
  #animated-thumbnails-gallery .gallery-item {
    width: 100%; /* Повна ширина для кожного елемента */
    height: 180px; /* Стандартна висота для кожного зображення */
    object-fit: cover; /* Збереження пропорцій при обрізанні зображення */
    border-radius: 5px; /* За бажанням можна додати заокруглені кути */
  }
  
  #animated-thumbnails-gallery .gallery-item img {
    width: 100%; /* Зображення займає всю ширину контейнера */
    height: 100%; /* Висота зображення буде рівною висоті контейнера */
    object-fit: cover; /* Обрізаємо зображення, якщо воно перевищує розміри контейнера */
  }

.simplebar-track.simplebar-vertical {
    top: 0;
    z-index: 300;
    
    background: rgba(158, 158, 158, 0.3);
    .simplebar-scrollbar {
        position: absolute;
        top: toRem(10);
        left: 0;
        right: 0;
        min-height: 10px;
        background-color: rgb(14, 48, 85, 0.8);
        border-radius: 20px;

    }
    .simplebar-scrollbar::before {
        background-color: rgba(23, 139, 8, 0.8);
    }
}
.simplebar-track.simplebar-horizontal {
    bottom: 0;
    z-index: 300;
    
    
    background: rgba(241, 238, 238, 0.425);
}

