//====================================================================================================

    .sanity__container {
        position: relative;
        overflow: hidden;
        .sanity-content {
            display: grid;
            grid-template-columns: repeat(2,1fr);
            gap: toRem(18);
           .post {
            display: flex;
            flex-direction: column;
            gap: 30px;
            padding: toRem(15);
            border: 2px solid goldenrod;
            overflow: hidden;
            font-weight: 300;
            line-height: 1.3;
            font-size: toRem(16);
            text-align: center;
           }
        }
        .single {
            padding-top: toRem(50);
            display: flex;
            flex-direction: column;
            row-gap: toRem(15);
            overflow: hidden;
            h1 {
                font-size: toRem(30);
                font-weight: 600;
            }
            div {
                font-weight: 400;
                font-style: italic;
                padding-bottom: toRem(20);
                border-bottom: 1px solid rgba(173, 163, 163, 0.856);
            }
            p {
                font-weight: 300;
                font-style: normal;
                line-height: 1.3;
                font-size: 18px;
            }
            img {
                padding-top: toRem(10);
                padding-bottom: toRem(10);
                text-align: center;
            }
        }

#person {
    display: grid;
            // grid-template-columns: repeat(4, 1fr);
            grid-template-columns: repeat(auto-fill, minmax(min(220px, 100%), 1fr));
            gap: toRem(15);
            overflow: hidden;
  .person-content {
    position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: space-between;
    row-gap: toRem(5);
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    // border: 1px solid rgba(0, 0, 0, .125);
    // border-radius: .25rem;
            img {
                display: block;
                width: 100%;
                height: auto;
                border-radius: toRem(20);
            }
            h4 {
                color: #1C592C;
                text-transform: uppercase;
                font-size: toRem(18);
                text-align: center;
                font-weight: 700;
                font-family: $fontSecond;
            }
            h5 {
                font-size: toRem(16);
                text-align: center;
                font-family: $fontSecond;
                font-weight: 700;
                padding: toRem(10);
            }
            p {
                font-size: toRem(16);
                text-align: center;
                font-weight: 300;
                padding: toRem(10);
            }
        }  
}

.hero {
    display: grid;
    grid-template-columns: 35% 1fr;
    gap: toRem(15);
padding-top: toRem(20);
padding-bottom: toRem(30);
@media (max-width: $mobile) {
    grid-template-columns: 1fr;
}
    #hero {
        display: flex;
    .hero-content {
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            @include adaptiveValue("font-size", 44,18 );
            font-family: $fontSecond;
            text-transform: uppercase;
            font-weight: 700;
            text-align: center;
            line-height: 1.2;
            // background: linear-gradient(45deg, rgb(0, 96, 255), rgb(75, 215, 0), rgb(221, 174, 138));
            // -webkit-background-clip: text;
            // -webkit-text-fill-color: transparent;
            // display: inline-block; 
        }

    }
}
#heroMedia {
    display: flex;
    overflow: hidden;
}
}




        
    }

//====================================================================================================
